<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/index.min.css" />
    </head>
    <body>
        <%- include('header', { categories }); -%>
        <main>
            <div class="banner">
                <% if (!!banner) { %>
                <img src="/images/<%= banner %>" />
                <% } %>
                <div class="title"><%= title %></div>
            </div>
            <div class="content">
                <div class="filters"></div>
                <div class="wrapper">
                    <div class="products"></div>
                </div>
            </div>
        </main>
        <%- include('footer'); -%>
        <script type="module">
            import { loadProducts } from '/javascripts/products.js';
            import { addFilter, filterProducts } from '/javascripts/filters.js';
            const filtersWrapper = document.querySelector('.filters');

            const productsData = <%- JSON.stringify(products) %>;

            loadProducts(productsData);
            addFilter(productsData, 'color');
            addFilter(productsData, 'size');
            addFilter(productsData, 'width');
            filterProducts(productsData);
        </script>
        <script src="/javascripts/dropdown.js" type="module"></script>
    </body>
</html>
